@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
  font-family: 'Google Sans';
  src: url(../src/font/ProductSans-Regular.ttf);
}

*{
  margin: 0;
  padding: 0;
}

:root{
  --primary-color: #0b4dda;
  --secondary-color: #ffffff;
  --bs-body-color: #20242c;
  --primary-font-family: 'Google Sans','Open Sans', sans-serif;
  --default-font-weight: 400;
  --bold-font-weight: 600;
}

.header{
  display: flex;
  justify-content: space-between;
}

.header > .leftSide > ul,
.header > .rightSide > ul {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.header > .leftSide > ul > li,
.header > .rightSide > ul > li {
  list-style: none;
}

.header > .leftSide > ul > li > a,
.header > .rightSide > ul > li > a {
  text-decoration: none;
  color: var(--bs-body-color);
  font-family: var(--primary-font-family);
  font-size: 0.9rem;
  font-weight: var(--default-font-weight);
}

.leftSide{
  margin: 0.8rem auto 1rem 1.3rem;
}

.rightSide{
  margin: 0.8rem 1.3rem 1rem auto;
}

.leftSide > ul > li > a > img{
  vertical-align: middle;
}

.rightSide > ul > li > a > img{
  vertical-align: middle;
}

.rounded-pill{
  background-color: var(--primary-color);
  color: var(--secondary-color) !important;
  border-radius: 15px;
  padding: 3px 10px;
  font-weight: var(--bold-font-weight) !important;
}


